.git/
.husky/
.vscode/

.dockerignore
.DS_Store
.env
.env.production
.gitignore

node_modules/
vendor/

docker-compose.yaml
Dockerfile

*.code-workspace
*.md
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
